@font-face {
    font-family: 'Ubuntu';
    src: url('../Fonts/Ubuntu-LightItalic.woff2') format('woff2'),
        url('../Fonts/Ubuntu-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

